* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.gray {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .cards-list {
    justify-content: flex-start;
  }
}
